<div class="container">
<div class="content">
<% if current_user %>
	<h3>Welcome Home,   <%= current_user.username %> </h3>
<% else %>
	<h1>Welcome to RECIPE PART PICKER DOT COM</h1>
<% end %>
	<%= link_to 'Get Picking!', '/browse', class: "btn" %>
	<% if current_user && current_user.chef %>
		<%= link_to 'your recipes', '/chefs/' + current_user.username.parameterize(separator: '-'), class: 'btn' %>
	<% end %>
</div>
</div>
