<div id="tab-group-3" class="tab-group hidden">
	<div class="container">
		<div class="padded">
			<% for chef in @chefs %>
				<div class="row">
					<div class="col s4">
						<img src=<%= chef.profile_image %> class="recipe-image">
						<br>
						<%= link_to chef.username, '/chefs/' + chef.username.parameterize(separator: '-') %>
					</div>
					<div class="col s8">
						<div class="chef-description">
							<p><%= chef.description %></p>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>