
<div class="content">
	<ul class="tabs">
		<li class="tab active" id="tab-1"><a href="">Recipes</a></li>
		<li class="tab" id="tab-2"><a href="">Ingredients</a></li>
		<li class="tab" id="tab-3"><a href="">Chefs</a></li>
	</ul>
	<%= render 'recipes' %>

	<%= render 'ingredients' %>

	<%= render 'chefs' %>
</div>