

	<div class="content">		
		<h3 class="headrow"> Welcome to your profile page, <%= current_user.username %> </h3>
		<div class="row">
			<% for recipe in @user.recipes %>
				<%= recipe.name %>
			<% end %>
		</div>
	</div>
