

	<div class="content">		
		<h3 class="headrow"> Welcome to your profile page, <%= current_user.username %> </h3>
		<div class="row">
			<% for recipe in @user.recipes %>
				<%= link_to recipe.name, '/recipes/' + recipe.name.parameterize(separator: '-'), class: "bubble" %>
			<% end %>
		</div>
	</div>
