/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */
@import "materialize/components/color";
$primary-color: #FF5722 !default;
$secondary-color: #004D40 !default;
@import "materialize";

.recipe-image {
	height: 200px;
	width: 200px;
	background-size: cover;
	overflow: none;
	position: relative;
}
.image-text {
	text-align: center;
}
.headrow {
	@extend .tab;
	margin-top: 75px;
}
.hidden {
	display: none;
}
.centered {
	text-align: center;
}
.tab {
	background-color: $secondary-color;
	margin-top: -75px;
}
.content {
	background-color: white;
	margin: 75px 150px;
	z-index: 5;
}
.background {
	background-color: #666;
	height: 100%;
}
.active {
	background-color: #E64A19;
}

/********* Hover.CSS vendor code *********/

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #2098D1;
  color: white;
}

/* /Fade */