/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require animate
 */
@import "materialize/components/color";
$primary-color: #009096 !default;
$secondary-color: #004D40 !default;
@import "materialize";

.row {
	margin-top: 10px;
}
.recipe {
	margin-bottom: 1rem;
	overflow-x: hidden;
}

#shopping-list {
	padding: 20px 0;
}

.ingredient-card {
	background-color: #bbb;
	margin: 10px;
	padding-top: 10px;
	border-radius: 5px;
	a {
		color: black;
	}
}
#btn-small {
	padding: 0 0.5rem;
	margin: 0;
}
.bubble {
	padding: 5px;
	background-color: #bbb;
	border-radius: 5px;
	margin: 5px;
	display: inline-block;
	color: black;
}
.bubble:hover {
	@extend .bubble;
	padding: 9px;
	margin: 1px;
	background-color: #999;
}
.justified {
	text-align: justify;
}

.padded {
	padding: 20px;
}

.row a {
	color: $primary-color;
	text-decoration: underline;
	font-size: 8;
}
body {
	background-color: #666;
}
.recipe-image {
	height: 200px;
	width: 200px;
	background-size: cover;
	overflow: none;
	position: relative;
	border: 5px solid #440000;
	border-radius: 105px;
}
.recipe-image-small {
	height: 100px;
	width: 100px;
	background-size: cover;
	overflow: none;
	position: relative;
	border: 5px solid #440000;
	border-radius: 105px;
}
.image-text {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	color: #440000 !important;
}
.chef-description {
	text-align: justify;
}
.headrow {
	background-color: $secondary-color;
	color: $primary-color;
	padding: 0.2rem;
	margin-bottom: 20px;
}
.hidden {
	display: none;
}
.centered {
	text-align: center;
}
.tab {
	background-color: $secondary-color;
	margin-top: -75px;
}
.content {
	background-color: #DDD;
	margin: 30px 70px;
	z-index: 5;
	text-align: center;
}
.background {
/*	background-color: #666;*/
	height: 100%;
	text-align: center;
}
.active {
	background-color: #006F60;
	color: white !important;
}

.btn {
	margin: 20px;
}



