
<div class="content">
<% for recipe in @recipes %>
	<h1><%= recipe.name %></h1>
	<ul>
		<% for ingredient in recipe.ingredients %>
			<li> <%= ingredient.name %> </li>
		<% end %>
	</ul>
<% end %>
</div>