
	<div class="content">
		<h1 class="centered headrow"><%= @recipe.name %></h1>
		<ul class="ingredient-list">
			<% for ingredient in @recipe.ingredients %>
				<li><%= link_to ingredient.name, '/ingredients/' + ingredient.name.parameterize(separator: '-') %></li>
			<% end %>
		</ul>
	</div>
