<div class="content">


		<h2 class="headrow"><%= @ingredient.name %></h2>
		<h5>Recipes this ingredient is used in: </h5>
		<div class="container">
			<% for recipe in @ingredient.recipes %>
				<%= link_to recipe.name, '/recipes/' + recipe.name.parameterize(separator: '-'), class: 'bubble' %>
			<% end %>
			<% if current_user %>
				<%= button_to 'Add to Cart', '', data: @ingredient, class: "btn" %>
			<% else %>
				<br>
				<%= link_to 'Sign in to shop!', '/signup', class: 'btn' %>
			<% end %>
		</div>
			

</div>