<div class="content">


		<h2 class="headrow"><%= @ingredient.name %></h2>
		<h5>Recipes this ingredient is used in: </h5>
		<div class="container">
			<% for recipe in @ingredient.recipes %>
				<%= link_to recipe.name, '/recipes/' + recipe.name.parameterize(separator: '-'), class: 'bubble' %>
			<% end %>
			<%= button_to 'Add to Cart', '', data: @ingredient, class: "btn" %>
		</div>
			

</div>